<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Editormd</id>
<name>Editor.md编辑器</name>
<url>https://bbs.zblogcn.com/thread-93729-1-1.html</url>
<note>一个漂亮强大的Markdown编辑器</note>
<description>Editor.md，一个漂亮强大的Markdown编辑器</description>
<path>main.php#tabs=setting</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>心扬</name>
  <email>chrishyze@163.com</email>
  <url>https://app.zblogcn.com/?auth=2ffbff0a-1207-4362-89fb-d9a780125e0a</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151626</adapted>
<version>2.85</version>
<pubdate>2017-07-04</pubdate>
<modified>2019-03-18</modified>
<price>0</price>
<phpver>5.3.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions>libxml_use_internal_errors</existsfunctions>
  <conflict>Neditor|UEditor|markdown|my_tinymce|KindEditor</conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>